.card {
    margin: auto;
    margin-top: 5px;
}

.animalitos{
    display: flex;
    width: 700px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

body {
    background-image: url(https://media.istockphoto.com/vectors/bones-and-paws-vector-id466464990);
    background-size: 30rem;
}
